<launch>

  <arg name="checkTerrainConn" default="false"/>

  <!-- 启动手柄 -->
  <include file="$(find ps3joy)/launch/ps3.launch" />

  <!-- 局部路径规划器，生成cmd_vel -->
  <include file="$(find local_planner)/launch/local_planner.launch" />

  <!-- 规划器相关 -->
  <include file="$(find terrain_analysis)/launch/terrain_analysis.launch" />
  <include file="$(find terrain_analysis_ext)/launch/terrain_analysis_ext.launch" >
    <arg name="checkTerrainConn" value="$(arg checkTerrainConn)"/>
  </include>

  <!-- 把点云转到当前传感器坐标系上面去 -->
  <include file="$(find sensor_scan_generation)/launch/sensor_scan_generation.launch" />

  <!-- 处理里程计和点云的翻转并修改了话题名字(aloam中没有处理翻转只是改了名字) -->
  <include file="$(find loam_interface)/launch/loam_interface.launch" />

  <node launch-prefix="nice" pkg="rviz" type="rviz" name="rvizGA" args="-d $(find vehicle_simulator)/rviz/vehicle_simulator.rviz" respawn="true"/>

</launch>
