<launch>
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_lidar" args="0 0 0 0 0 0 base_link velodyne" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_to_cam4" args="0.101262 -8.23666  -0.0560857 0.811597 -3.13058   1.5383 velodyne camera4_color_optical_frame" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="cam4_to_imu" args="0.020, -0.005, -0.012 0.005, 0.006, -0.004 camera4_color_optical_frame camera4_imu_optical_frame" />

    <!-- 检查tf关系 -->
    <!-- <node pkg="rqt_tf_tree" type="rqt_tf_tree" name="view_tf"/> -->

   <node pkg="rosbag" type="play" name="imu_bag_player" output="screen" args="-l $(find imu_trans)/test/imu.bag"/>

    <node pkg="rviz" type="rviz" name="show_imu" args="-d $(find bringup)/rviz/imu.rviz"/>
</launch>
